header {
    color: #f2b22c;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 10%;
    padding: 20px;

}

body {
    background-image: url("fond\ acceuil\ 4.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: auto;
    padding: auto;
    color: white;
    text-align: center;
}

.acceuil{
    margin-left: 115px;
}
    
a{
    text-decoration: none;
    color: #f2b22c;
}

label {
    display: block;
    width: 150px;
    font:1rem 'Fira Sans', sans-serif;
  }
  
input,label {
    margin: 0.4rem 0;
  }
  